main {
    max-width: 1032px;
    margin: auto;
    padding: 0 10px;    
}

.main-header {
    height: 205px;
    padding: 50px;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    background-color: #2eca7f;
    border-radius: 15px 15px 0 0;
}

.main-header img {
    width: 274px;
    height: 274px;
    border: 3px solid #FFF;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.main-header img:hover {
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-9px);
    transition: all 0.3s ease-in-out;
}




.main-info {
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    height: 217px;
    border-radius: 0 0 15px 15px;
    background-color: #FFF;
}