main {
    max-width: 1032px;
    margin: auto;
    padding: 0 10px;    
}

main a:focus {
    outline: 5px solid #FFF;
    outline-offset: 5px;
}

.main-header {
    height: 205px;
    padding: 50px;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    background-image: url("/img/sp_main_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2eca7f;
    border-radius: 15px 15px 0 0;
}

.main-header img {
    width: 274px;
    height: 274px;
    border: 3px solid #FFF;
    margin: 0 15px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.main-header > img:hover {
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-9px);
    transition: all 0.3s ease-in-out;
}

.main-header__container {
    margin: 0 15px;
    width: calc(100% - 350px);
    vertical-align: top;
    text-align: center;
    color: #FFF;
    display: inline-block;
}

.main-header__container h1 {
    font-size: 54px;
    font-weight: 700;
    margin: 30px 0 0;
}

.main-header__container h2 {
    font-size: 18px;
    margin: 10px 0;
}

.social {
    margin-top: 30px;
}

.social a {
    text-decoration: none;
}

.social a img {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
}

.social a img:hover {
    transform: translateY(-5px);
}

.main-info {
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    height: 217px;
    padding: 45px 40px;
    border-radius: 0 0 15px 15px;
    background-color: #FFF;
}

.text-info {
    width: 50%;
    display: inline-block;
}

.text-info h2 {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.text-info h2 span {
    color: #2eca7f;
}

.text-info p {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
}

.text-info button {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3);
    font-size: 14px;
    font-weight: 500;
    padding: 0 1.5em;
    line-height: 2.8;
    background-color: #FFF;
    border: 0;
    border-radius: 3px;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.text-info button:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
}

.details {
    width: 50%;
    display: inline-block;
}